allow bootanim sysfs_kgsl:dir search;
allow bootanim sysfs_kgsl:file { open read getattr };
get_prop(bootanim, userspace_reboot_exported_prop);
allow bootanim vendor_sysfs_kgsl_gpuclk:file { getattr open read };
