allow zygote theme_prop:file { open read getattr };
allow zygote device:file { open write };
allow zygote exported_camera_prop:file { getattr open read };
